* {
  border-radius: 0 !important;
}
/***~~~~~~ Loading ~~~~~***/
.loader {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #f4f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden  {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.loader img{
  height: 200px;
  width: 200px;
}

body, html {
  cursor: default;
  cursor: url(../img/g-hand.png) 2 2, default !important;
}

.btn:hover {
  cursor: default;
  cursor: url(../img/p-hand.png), default !important;
}

body {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.logo img{
  position: absolute;
  top: 10px;
  left: 60px;
  height: auto;
  width: 300px;
}

/* h1 {
  position: absolute;
  top: 30px;
  left: 60px;
  font-size: 50px;
  font-weight: 200;
  background: -webkit-linear-gradient(dodgerblue, cornflowerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.toolTipContainer {
  text-align: right;
  position: absolute;
  left: 78px;
  top: 36px;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  background: -webkit-linear-gradient(dodgerblue, cornflowerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text: 100px;
  background: -webkit-linear-gradient(grey, dimgrey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.canvas {
  position: absolute;
  top: 120px;
  left: 180px;
  /* cursor: url('../assets/dot.jpg'), auto;
  pointer-events: auto; */
}

#canvas-real {
  background-color: white;
}

#canvas-draft {
  background-color: transparent;
}

#addTextInput {
  position: absolute;
  top: 480px;
  left: 60px;
  height: 60px;
  padding: 0 15px 0 15px;
  opacity: 0.8;
}

.toolbarLeftExpand, .toolbarRightTop, .toolbarRightBottom {
  width: 60px;
  position: absolute;
  top: 120px;
  z-index: 2;
}

.toolbarLeft {
  width: 60px;
  position: absolute;
  top: 120px;
  left: 60px;
  z-index: 2;
}

#collapseBarCircle {
  position: absolute;
  left: 120px;
  top: 360px;
  z-index: 1;
}

#collapseBarStamp {
  position: absolute;
  left: 120px;
  top: 540px;
  z-index: 1;
}

.toolbarRightTop {
  left: 1140px;
  padding: 10px 10px 0px 10px;
}

.toolbarRightBottom {
  left: 1140px;
  top: 600px;
}

button {
  width: 60px;
  height: 60px;
}

button:active {
  outline: none;
  border: none;
  box-shadow: none;
}

button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

img {
  width: 30px;
}

#myRange {
  -webkit-appearance: slider-vertical;
  margin-bottom: 10px;
}

#rangeTriangle {
  padding-left: 10px;
  margin-bottom: 10px;
}

#cpXSlider {
  position: absolute;
  top: 900px;
  left: 180px;
  width: 420px;
}

#cpYSlider {
  position: absolute;
  top: 900px;
  left: 660px;
  width: 420px;
}

#cpXSliderText {
  position: absolute;
  top: 930px;
  left: 180px;
  width: 420px;
}

#cpYSliderText {
  position: absolute;
  top: 930px;
  left: 660px;
  width: 420px;
}
